<div class="choiceForm">
  <%= f.fields_for :businesses, @trip.businesses.build do |biz_fields| %>
    <%= biz_fields.label :name %>
    <%= biz_fields.text_field :name, name: 'trip[businesses_attributes][][name]' %>
    <button type="button" onclick="removeChoice($(this))" class="btn btn-xs btn-danger remove-choice"> X </button>
  <% end %>
</div>
