<% content_for :head do %>
  <%= javascript_include_tag "trips_index/trips_users" %>
<% end %>
<h2>Travel Stories by <span id="user-username"><%= params[:user_id] %></span></h2>
<div id="tripInfo">

</div>
