<div id="#editCommentForm">
  <%= form_for @comment, remote: true, html: { style: "display:inline;" }, data: { id: @comment.id } do |f| %>
  <div id="alert_explanation">
  </div>
    <p><%= f.label :content, "Edit comment" %>
      <%= f.text_area :content, rows: 5, class: 'form-control' %></p>
    <p><%= f.submit "Edit Comment", class: 'btn btn-sm btn-primary' %></p>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('form.edit_comment').submit(function(event) {
    var commentIdEdit, postingEdit, valuesEdit;
    commentIdEdit = parseInt($(this).attr('data-id'));
    event.preventDefault();
    valuesEdit = $(this).serialize();
    postingEdit = $.post('/comments/' + commentIdEdit, valuesEdit);
    postingEdit.done(function(data) {
      var commentEdit, commentTextEdit, timeCreated;
      if (data['errors'] !== void 0) {
        $('#alert_explanation').append(errorDiv);
      } else {
        commentEdit = data['comment'];
        timeCreated = moment(commentEdit.created_at).format('LLL');
        commentTextEdit = 'Posted by <strong>';
        commentTextEdit += commentEdit.user.username + '</strong> at ';
        commentTextEdit += '<strong>' + timeCreated + '</strong>';
        commentTextEdit += ' <br>' + commentEdit.content;
        commentTextEdit += '<br /><br /><button class="btn btn-xs btn-info jsNewEdit" data-id="' + commentIdEdit + '">Edit comment</button>';
        $('#comment-' + commentIdEdit).html(commentTextEdit);
        $('.jsNewEdit').on('click', function() {
          var commentIdEdit;
          commentIdEdit = parseInt($(this).attr('data-id'));
          $('#comment-' + commentIdEdit).load('/comments/' + commentIdEdit + '/edit');
        });
      }
    });
  });
});
</script>
