<header class="main-header">
  <div class="title">
    <h1 class="header-h1">Travsto</h1>
    <h4 class="header-h4">Share your travel story</h4>
      <br>
      <a href="/signup"><button class="btn btn-default">Sign up to access more features</button></a>
  </div>
</header>
